@import '../../../../themes/default/iconset.css';



@import '../../iconset_disabled.css';
.pwg-icon {
	background-image: url(icons_sprite.png);
}

A:hover .pwg-icon {
	background-image: url(icons_sprite_hover.png);
}

