@import '../../../../themes/default/iconset.css';

.pwg-icon, #iconBox_old_sylvia .pwg-icon {
	background-image: url(showimage.png);
}

A:hover .pwg-icon, #iconBox_old_sylvia .pwg-icon a:hover {
	background-image: url(showimage.png);
}

